<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title> Log In </title>
	<link rel="stylesheet" type="text/css" href="/static/ResponsiveLogin.css">
		<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
		<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
	{% include 'sidebar.html' %}		
	<img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">

		<div class="img">
			<img src="/static/images/bg.svg">
		</div>
		<div class="login-content">
			
			<form action="" method='Post'>
				{% csrf_token %}
				<img src="{% static 'images/avatar.svg' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" name='username'>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name='password'>
            	   </div>
            	</div>
            	<a href="/user_registration/">Register</a>
				<a href="/forget-password/">Forgot Password</a> 
				
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script>
		{% for flashmsg in messages %}
			alertify.set('notifier','position', 'top-right');
			alertify.success('{{flashmsg}}');
		{% endfor %}			
	</script>

</body>
</html>