{% extends 'header.html' %}
{% block tittle %} Doctors{% endblock tittle %}
{% block message %}
<link rel="stylesheet" href="/static/exp.css">

{% endblock message %}
{% block doctor %}class="active"{% endblock doctor %}
{% block body %}
<div class="container">
  {% for d in doctors %}
  <div class="profile-card">
    <div class="image">
      <img src="{{ d.dimage.image.url }}" alt="" class="profile-img" />
    </div>
    <div class="text-data">
      <span class="name">{{d.user.first_name}}</span>
      <span class="job">{{d.study}}</span>
      <span class="category">{{d.category.category}}</span>
    </div>
    <div class="buttons">
      <button class="button" onclick="location.href='{% url 'viewprofile' d.user.id %}'">View More</button>
      <button class="button">Take Consult</button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}