{% extends 'header.html' %}
{% block tittle %}Password Change{% endblock tittle %}
{% block message %}
<link rel="stylesheet" href="/static/passchange.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
{% endblock message %}
{% block body %}
<div class="container">
    <div class="tittle" align='center'>Password Change</div>
    <form action="" method='post' align="center">
        {% csrf_token %}
        <div class="change-pass">
            <div class="input-box">
                <span class="details">Old Password</span>
                <input type="password" placeholder="Enter password" name='cpass' required>
            </div>            
            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" placeholder="Enter password" name='pass1' required>
            </div>
            <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="password" placeholder="Confirm Password" name='pass2' required>
            </div>
            <div class="button">
                <input type="submit" value="Change">
            </div>
    </form>

</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% if messages %}
    <ul class="messages">
        <script>
            {% for flashmsg in messages %}
                alertify.set('notifier','position', 'top-right');
                alertify.success('{{flashmsg}}');
            {% endfor %}			
        </script>
    </ul>
{% endif %} 
{% endblock body %}