<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/RegStyle.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
		<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="tittle">Registration</div>
        <form action="#" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter Your Name" name='fullname' required>
                </div>             
                <div class="input-box">
                    <span class="details">User Name</span>
                    <input type="text" placeholder="Username" name='username' pattern="[a-z0-9.]{1,15}" required>
                </div>                
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Email" name='email' required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" pattern="[0-9]{11}" placeholder="Phone Number" name='pnumber' required>
                </div>
                <div class="input-box">
                    <span class="details">Date Of Birth</span>
                    <input type="date" placeholder="dd/mm/yyyy" name=dob required>
                </div>
                <div class="input-box">
                    <span class="details">Education Information</span>
                    <select placeholder="Education Information" name='einfo' required>
                        <option>Select An Option</option>
                        <option value='MBBS'>
                           MBBS 
                        </option>
                        <option>BDS</option>
                        <option>MD</option>
                        <option>FCPS</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Experience</span>
                    <input type="text" placeholder="Experience" name='expe'  required>
                </div>
                <div class="input-box">
                    <span class="details">Present Occuption Institution</span>
                    <input type="text" placeholder="Occuption" name='occuption' required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter password" name='pass1' required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm Password" name='pass2' required>
                </div>
                <div class="input-box photo">
                    <span class="details">Photo</span>
                    <input type="file" class="box" accept="image/jpg,image/jpeg,image/png" name='photo' required>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot-1" value='M'>
                    <input type="radio" name="gender" id="dot-2" value='F'>

                    <span class="gender-tittle">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
                <p>Already Have An Account <a href="/doctor_login" style="color: #009579">Log In</a></p>
            </div>
        </form>
    </div>
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<script>
		{% for flashmsg in messages %}
			alertify.set('notifier','position', 'top-right');
			alertify.success('{{flashmsg}}');
		{% endfor %}			
	</script>    
</body>

</html>